name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  markdown:
    name: Markdown Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: |
            **/*.md
            #docs/references/**
